---
import { Picture } from "astro:assets";
import AdvantagesImage from "@images/advantages-image.png";
import AccordionItem from "@components/AccordionItem.astro";
import AccordionItemsData from "src/data/advantages-accordion-items-data.json";
---

<section
	class="advantages"
	aria-labelledby="advantages-title"
>
	<div class="wrapper">
		<h2
			class="advantages__title h2"
			id="advantages-title"
		>
			We will take care of everything, so you can get back to relaxing.
		</h2>
		<div class="advantages__body">
			<div class="advantages__accordion">
				{
					AccordionItemsData.map((ItemData) => (
						<AccordionItem
							itemIcon={ItemData.itemIcon}
							itemTitle={ItemData.itemTitle}
							itemContent={ItemData.itemContent}
							rest={ItemData.rest}
						/>
					))
				}
			</div>
			<Picture
				src={AdvantagesImage}
				formats={["avif", "webp"]}
				alt=""
				densities={[2, 3]}
				quality={65}
			/>
		</div>
	</div>
</section>

<style lang="scss">
	@use "@styles/helpers" as *;

	.advantages {
		padding-block: fluid-small(80, 40);
		background-color: var(--color-white-200);

		&__title {
			text-align: center;

			@include mobile-above {
				max-width: fluid-big(700, 610);
				text-align: initial;
			}
		}

		&__body {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 24px;
			margin-top: fluid-small(34, 24);

			@include mobile {
				flex-direction: column;
			}
		}

		&__accordion {
			display: flex;
			gap: 2px;
			width: 100%;
			flex-direction: column;

			@include mobile-above {
				width: 450px;
			}
		}
	}
</style>

<script>
	var items: any[] = [];

	window.addEventListener("load", () => {
		requestAnimationFrame(() => {
			document.querySelectorAll("[data-js-accordion-item]").forEach((item) => {
				items.push(buildItem(item));
			});
			open(items[0].rootElement, items[0].contentElement);
		});
	});

	function buildItem(rootElement: any) {
		var summaryElement = rootElement.querySelector("[data-js-accordion-summary]");
		var contentElement = rootElement.querySelector("[data-js-accordion-content]");
		bindEvents(rootElement, summaryElement, contentElement);
		return { rootElement, summaryElement, contentElement };
	}

	function closeAll(except: any) {
		items.forEach((item: any) => {
			if (item.rootElement !== except.rootElement) {
				close(item.rootElement, item.contentElement);
			}
		});
	}

	function bindEvents(rootElement: any, summaryElement: any, contentElement: any) {
		summaryElement.addEventListener("click", (event: any) => {
			var currentItem = items.find((i) => i.rootElement === rootElement);
			event.preventDefault();
			if (rootElement.open) {
				close(rootElement, contentElement);
			} else {
				closeAll(currentItem);
				open(rootElement, contentElement);
			}
		});
	}

	function open(rootElement: any, contentElement: any) {
		rootElement.open = true;
		requestAnimationFrame(() => {
			contentElement.style.height = contentElement.scrollHeight + 20 + "px";
		});
	}

	function close(rootElement: any, contentElement: any) {
		contentElement.style.height = "0px";
		setTimeout(() => {
			rootElement.open = false;
		}, 210);
	}
</script>
