---
import { Icon } from "astro-icon/components";
const { cardIcon, cardColor, cardTitle, cardContent, isSmall = false } = Astro.props;
let smallClass;
if (isSmall) {
	smallClass = "metric-card--small";
} else {
	smallClass = "";
}
---

<div
	class={`metric-card metric-card--${cardColor} ${smallClass}`}
	role="group"
	aria-label={cardTitle}
>
	<Icon
		name={cardIcon}
		width="55"
		height="55"
	/>
	<p class="metric-card__title h3">
		<strong style="font-weight: 400;">{cardTitle}</strong>
	</p>
	<p class="metric-card__content">
		{cardContent}
	</p>
</div>

<style lang="scss">
	@use "@styles/helpers" as *;

	.metric-card {
		padding: 32px 32px 38px;

		&--yellow {
			background-color: var(--color-yellow);
		}

		&--blue {
			background-color: var(--color-blue-200);
		}

		&--pink {
			background-color: var(--color-pink);
		}

		&--white {
			background-color: var(--color-white-100);
		}

		&--small {
			padding: 0 0 15px;
		}

		&__title {
			margin-top: fluid-big(12, 8);
		}

		&__content {
			margin-top: fluid-big(16, 13);

			@include font-variable(18, 15, 14);
		}
	}
</style>
