---
import { Icon } from "astro-icon/components";
const { cardIcon, cardColor, cardTitle, cardContent, isSmall = false } = Astro.props;
let smallClass;
if (isSmall) {
	smallClass = "metric-card--small";
} else {
	smallClass = "";
}
---

<div
	class={`metric-card metric-card--${cardColor} ${smallClass}`}
	role="group"
	aria-label={cardTitle}
>
	<Icon
		name={cardIcon}
		width="55"
		height="55"
	/>
	<h3 class="metric-card__title h3">
		{cardTitle}
	</h3>
	<p class="metric-card__content">
		{cardContent}
	</p>
</div>

<style lang="scss">
	@use "@styles/helpers" as *;

	.metric-card {
		padding: fluid-small(32, 20) fluid-small(32, 20) fluid-small(38, 24);

		&--yellow {
			background-color: var(--color-yellow);
		}

		&--blue {
			background-color: var(--color-blue-200);
		}

		&--pink {
			background-color: var(--color-pink);
		}

		&--white {
			background-color: var(--color-white-100);

			@include tablet {
				background-color: var(--color-white-300);
			}
		}

		&--small {
			@include tablet-above {
				padding: 0 0 15px;
			}
		}

		&__title {
			margin-top: fluid-big(12, 8);
		}

		&__content {
			margin-top: fluid-big(16, 13);

			@include font-variable(18, 15, 14);
		}
	}
</style>
